<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
  <div class="palm-header">
    Sunrise Clock Controller
  </div>
</div>
<div class="palm-header-spacer"></div>
<div x-mojo-element="Button" id="redButton"></div>
<div x-mojo-element="Button" id="greenButton"></div>
<div x-mojo-element="Button" id="blueButton"></div>
<div x-mojo-element="Button" id="whiteButton"></div>
<div x-mojo-element="Button" id="offButton"></div>
<div x-mojo-element="Button" id="autoButton"></div>
<div x-mojo-element="Button" id="sunsetButton"></div>